# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [2]:
DATA_FOLDER = '/Users/noodle/workspace/python/ADA/tutorials/ADA2017-Tutorials/02 - Intro to Pandas/Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [90]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

# Write your answer here

"""
Concate csv from the given directory and return a dataframe
"""
def concatData(fromFolder):
    csvPath = [f for f in listdir(fromFolder) if isfile(join(fromFolder, f))]
    csvPath = filter(lambda path: ".csv" in path, csvPath)
    csvPath = map(lambda pathFile: fromFolder + pathFile, csvPath)
    dataFrames = map(pd.DataFrame.from_csv, csvPath)

    return pd.concat(dataFrames)

"""
filter rows and clean dataset
"""
def cleanAndReturn(dataframe, variableName, variableValue, globalIndexName):
    myDf = dataframe[dataframe[variableName] == variableValue]
    myDf = myDf.fillna(value=np.float64(0.0))
    del myDf[variableName]
    if('Totals' in myDf):
        del myDf['Totals']
    if('National' in myDf):
        del myDf['National']
    myDf.columns = pd.MultiIndex.from_tuples([i for i in map( lambda cN: (globalIndexName, cN), myDf.columns)])
    myDf.index = map(lambda d: pd.to_datetime(d,infer_datetime_format=True, errors='coerce'), myDf.index)
    for columnName in myDf.columns:
        myDf[columnName] = myDf[columnName].astype(np.float64)
    
    return myDf
    
""" avg daily per month """
def averageDailyPerMonth(serie):
    notNanValues = serie[serie.notnull()]
    if notNanValues.size == 0 : 
        return 'NC'
    else:
        return notNanValues.sum()/notNanValues.size

def mySum(serie):
    notNanValues = serie[serie.notnull()]
    if notNanValues.size == 0 : 
        return 'NC'
    else:
        return notNanValues.sum()
    

""" I/ build & concatenate the dataset"""

""" NOT EXISTENT VALUES ARE CONSIDERED AS 0 INSIDE A COUNTRY (if one register not null : others null <=> 0)"""

guinea = concatData(DATA_FOLDER+"/ebola/guinea_data/")
guinea_new_case = cleanAndReturn(guinea,'Description', 'New cases of confirmed', 'guinea');
guinea_death = cleanAndReturn(guinea,'Description', 'Total deaths of confirmed', 'guinea');

liberia = concatData(DATA_FOLDER+"/ebola/liberia_data/")
liberia_new_case = cleanAndReturn(liberia,'Variable', 'New case/s (confirmed)', 'liberia');
liberia_death = cleanAndReturn(liberia,'Variable', 'Total death/s in confirmed cases', 'liberia');

sl = concatData(DATA_FOLDER+"/ebola/sl_data/")
sl_new_case = cleanAndReturn(sl,'variable', 'new_confirmed', 'sl');
sl_death = cleanAndReturn(sl,'variable', 'death_confirmed', 'sl');


""" II/ merge and fill 0 for date that are not existing in all three countries"""


new_cases = guinea_new_case.join(liberia_new_case, how='outer').join(sl_new_case, how='outer')
deaths = guinea_death.join(liberia_death, how='outer').join(sl_death, how='outer')



""" NOT EXISTENT VALUES ARE CONSIDERED AS MISSING VALUES FOR DATE ADDED DURING THE JOIN """
"""new_cases = new_cases.fillna(value=0)"""
"""deaths = deaths.fillna(value=0)"""


""" III/ merge axis 1 (by region) and sum """


new_cases = new_cases.sum(axis=1, level=0)
deaths = deaths.sum(axis=1, level=0)





""" IV/ merge axis 0 (by month) and take mean"""

new_case_month_daily = new_cases.groupby([(new_cases.index.year),(new_cases.index.month)]).agg(averageDailyPerMonth)
death_month_daily = deaths.groupby([(deaths.index.year),(deaths.index.month)]).agg(averageDailyPerMonth)

In [92]:
"""V/ Print result"""

print("########################## NEW CASES ##########################")
new_case_month_daily

########################## NEW CASES ##########################

          guinea      liberia       sl
2014 6        NC     2.142857       NC
     7        NC     1.818182       NC
     8      12.4     5.444444     19.6
     9   12.5625     6.166667  36.2759
     10        6     1.240000  57.5357
     11       NC     2.533333  63.2381
     12       NC  1932.333333     32.6

In [93]:
print("########################## DEATH ##########################")
print(death_month_daily)

########################## DEATH ##########################
          guinea     liberia       sl
2014 6        NC   16.857143       NC
     7        NC   43.272727       NC
     8     289.6  195.777778   331.15
     9   440.188  606.750000  454.414
     10      562  277.576923  903.103
     11       NC    0.000000  904.286
     12       NC    0.000000   1314.8

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here